body{
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	background-size: 2000px 3000px;
	font-family: sans-serif;
}

main{
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	font-family: sans-serif;
}

.flex-container{
	position: absolute;
	margin-top: 100px;
	margin-left: 32%;
	font-family: sans-serif;
}

nav{
	margin-left: 50px;
	font-family: sans-serif;
}

.image{
	position: relative;
	width: 80px;
	margin-left: -5px;
}

.contact{
	font-weight: bold;
}

.contact1{
	color: black;
	font-style: italic;
	font-family: sans-serif;
}

#home{
	opacity: 1;
	width: 80px;
	margin-left: 21px;
}

#image{
	width: 80px;
	margin-left: 5px;
}

a{
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
}

img{
	position: relative;
}

header{
	position: absolute;
}

aside{
	position: absolute;
	font-size: 25px;
}